.btn-new {
  color: var(--green);
  cursor: pointer;
}
.btn-delete {
  background-color: var(--red);
  color: var(--white);
}
.btn-modif {
  background-color: var(--blue);
  color: var(--white);
  margin-left: 20px;
}
.btn-modif:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn-delete:hover {
  background-color: var(--light-red);
  color: var(--white);
}
.btn-new:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.customer-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.section {
  grid-column: 1 / -1; /*que ocupe el ancho completo del grid*/
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa; /* fondo gris claro */
  margin-bottom: 15px;
}

.section {
  border-left: 4px solid #198754; /* verde Bootstrap */
}

.customer-form label {
  /* font-size: 14px;*/
  font-weight: bold;
  /*margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

input,
select {
  border: 1px solid #ccc;
  /* Tamaño de fuente del input */
}
input:hover {
  border: 1px solid #198754;
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
  /* color: #194bd6; */
}
.icon-fontawesome i {
  cursor: pointer;
  color: var(--blue);
}

.content-spinner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.section {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.modal-header {
  background-color: #dff2e1;
}
.modal-body {
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  scrollbar-width: thin;
}

.modal-dialog {
  margin: 0;
}

.modal-footer {
  background-color: #f8f9fa;
}
