
<div class="div-login">
  <form [formGroup]="formLogin" class="form-login" (submit)="onSubmit()">
    <h4 style="margin: 0;">Estudio Contable De Paolo</h4>
    <hr>
    <div>
      <input type="email"
             formControlName="email"
             placeholder="Email">

             <span *ngIf="isValidField('email')"
                    class="form-text text-danger">
                    {{ getFieldError('email') }}
             </span>
    </div>

    <div>
      <input type="password"
             formControlName="pass"
             placeholder="Contraseña">

             <span *ngIf="isValidField('pass')"
                    class="form-text text-danger">
                    {{ getFieldError('pass') }}
             </span>
    </div>

    <span *ngIf="statusError"
           class="form-text text-danger">
          {{messageError}}
    </span>

    <button *ngIf="!loading" class="btn">
      Ingresar
    </button>
    <div *ngIf="loading" class="loader"></div>
  </form>
</div>

