<div class="div-login">
  <form [formGroup]="formLogin" class="form-login">
    <h4 style="margin: 0;"><i>SGC - Virginia De Paolo</i></h4>
    <hr>
    <div>
      <h5>Correo</h5>
      <input type="email"
             class="form-control"
             formControlName="email"
             placeholder="Ingrese su email">
    </div>

    <div>
      <h5>Contraseña</h5>
      <input type="password"
             class="form-control"
             formControlName="pass"
             placeholder="Ingrese su contraseña">
    </div>

    <button class="btn btn-primary">
      Ingresar
    </button>
  </form>
</div>
