.div-login{
  /* background-color: #ffe4e1; */
  background-color: #bec9ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-login button{
  /* background-color: #af9694; */
  background-color: #2a3fbd;
  color: #FFFFFF;
}

.div-login button:hover{
  /* background-color: #c4a4a2; */
  background-color: #0054a3;
  color: #FFFFFF;
}

.form-login{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  min-width: 400px;
  row-gap: 10px;
  position: absolute;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.title{
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

.form-login input{
  border: none;
  /* border-bottom: 1px solid #b3b1b1;  Línea gris por defecto  */
  border-bottom: 1px solid #2a3fbd;
  /* transition: border-bottom 0.2s ease-in-out; */
  padding: 8px;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.form-login input:focus {
  /* border-bottom: 3px solid #917977;  Línea azul cuando se enfoca  */
  border-bottom: 3px solid #223397;
}

/** LOADER */
.loader {
  width: 100%; /*120px;*/
  height: 22px;
  border-radius: 20px;
  /* color: #917977; */
  color: #2a3fbd;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
/** fin LOADER */
