.graphics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  gap: 20px;
}
.title-dash {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  font-style: italic;
}
.card-body {
  /* position: relative; */
  /* height: 150px; */
}
