<div class="p-0 col-auto" style="background-color: #ffe4e1;">
<!-- <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #d9dee4;"> -->
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

        <span class="fs-4">Rol: {{user?.id_rol}}</span>
        <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <!-- <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home/dashboard']" routerLinkActive="active">
            <i class="bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page" [routerLink]="['/home/customers']" routerLinkActive="active">
            <i class="bi-people"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
              <span class="d-none d-sm-inline mx-1">{{user?.nombre}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="onLogout()">Salir</a></li>
          </ul>
      </div>
  </div>
</div>
