/* Filas pares con color rosa claro */
/* tbody tr:nth-child(even) {
  background-color: #ffe4e1;
} */
/* Filas impares con color blanco (opcional, ya que es el color por defecto) */
/* tbody tr:nth-child(odd) {
  background-color: white;
} */

/* .table-row, .icon-fontawesome{
  cursor: pointer;
} */
.table-row:hover{
  cursor: pointer;
  --bs-table-bg: #cdebf3; /* Color personalizado, por ejemplo, azul claro */
  /* Aca estoy cambiando la clase de bootstrap, por eso esta escrito así */
}
.btn-new{
  color: #00ca0a;
  cursor: pointer
}
.btn-delete{
  color: #f10404;
}
.btn-modif{
  color: #0528ee;
  margin-left: 20px
}
.btn-modif:hover{
  color: #0282fa;
}

.btn-delete:hover{
  color: #f92323;
}
.btn-new:hover{
  color: #4dc853;
}

.customer-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Dos columnas, la segunda más ancha */
  grid-gap: 10px; /*Espacio entre los elementos */
}

.customer-form label{
  font-size: 14px;
  font-weight: bold;
  /*margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}
.customer-form input, select{
  border: 1px solid #000000; /* Borde del input */
  font-size: 14px; /* Tamaño de fuente del input */
}

.modal-title{
  font-size: 20px;
  font-weight: bold;
  color: #194bd6;
}

/** loader */
.spinner {
  width: 100px; /* ajustá según necesidad */
  height: 100px;
}

.spinner-animated {
  transform-origin: center;
  fill: none;
  stroke: url(#a12);
  stroke-width: 13;
  stroke-linecap: round;
  stroke-dasharray: 200 1000;
  stroke-dashoffset: 0;
  animation: spin 1.6s linear infinite;
}

.spinner-background {
  transform-origin: center;
  fill: none;
  opacity: 0.2;
  stroke: #194bd6;
  stroke-width: 13;
  stroke-linecap: round;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** fin loader */
.content-spinner{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
