<div class="container">
  <div class="row">
    <div class="col">
      <!--* Loader -->
      <div class="content-spinner" *ngIf="loading">
        <svg
          class="spinner"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 200 200"
        >
          <defs>
            <radialGradient
              id="a12"
              cx=".66"
              fx=".66"
              cy=".3125"
              fy=".3125"
              gradientTransform="scale(1.5)"
            >
              <stop offset="0" />
              <stop offset=".3" stop-opacity=".9" />
              <stop offset=".6" stop-opacity=".6" />
              <stop offset=".8" stop-opacity=".3" />
              <stop offset="1" stop-opacity="0" />
            </radialGradient>
          </defs>

          <circle class="spinner-animated" cx="100" cy="100" r="70" />
          <circle class="spinner-background" cx="100" cy="100" r="70" />
        </svg>
        <h4>Cargando Clientes...</h4>
      </div>
      <ng-container *ngIf="customers.length > 0; else noCustomers">
        <div *ngIf="!loading">
          <div class="d-flex mt-3">
            <h2 style="margin-right: 10px">Mis Clientes</h2>
            <button
              class="d-inline btn btn-outline-success btn-sm"
              (click)="onCustomer(selectedCustomer, true)"
            >
              <i class="bi bi-plus-circle"></i> Agregar
            </button>
          </div>

          <!-- * Search and Filter Section -->
          <div class="row align-items-center gx-3">
            <div class="col-12">
              <input
                type="text"
                class="form-control mt-3 mb-0"
                style="max-width: 500px"
                placeholder="Buscar Cliente por Nombre y Apellido"
                (input)="onSearch($event)"
              />
            </div>
            <div class="col-12 col-md-6 my-2">
              <div class="d-flex flex-wrap align-items-center">
                <label class="form-label me-2 fw-semibold">Ordenar por:</label>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sort"
                    id="filterUltimo"
                    value="ultimo"
                    checked
                    (change)="onSortChange($event)"
                  />
                  <label class="form-check-label" for="filterUltimo"
                    >Más reciente</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sort"
                    id="filterAbc"
                    value="abc"
                    (change)="onSortChange($event)"
                  />
                  <label class="form-check-label" for="filterAbc"
                    >Alfabeto</label
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 my-2">
              <div class="d-flex flex-wrap align-items-center">
                <label class="form-label me-2 fw-semibold"
                  >Filtrar por estado:</label
                >
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="filter"
                    id="filterTodos"
                    value="todos"
                    checked
                    (change)="onFilterChange($event)"
                  />
                  <label class="form-check-label" for="filterTodos"
                    >Todos</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="filter"
                    id="filterActivos"
                    value="activos"
                    (change)="onFilterChange($event)"
                  />
                  <!-- [(ngModel)]="estadoFiltro" -->
                  <label class="form-check-label" for="filterActivos"
                    >Activos</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="filter"
                    id="filterBaja"
                    value="baja"
                    (change)="onFilterChange($event)"
                  />
                  <label class="form-check-label" for="filterBaja"
                    >Dados de baja</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="table-container">
            <div class="table-responsive">
              <table class="table table-striped caption-top">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" class="d-none d-sm-table-cell">CUIT</th>
                    <th scope="col" class="d-none d-sm-table-cell">
                      Clave Fiscal
                    </th>
                    <th scope="col" class="d-none d-sm-table-cell">Banco</th>
                    <th scope="col" class="d-none d-sm-table-cell">N° Tel.</th>
                    <th scope="col" class="d-none d-sm-table-cell">
                      Cond. Fiscal
                    </th>
                    <!-- <th scope="col">Actividad</th> -->
                    <th scope="col">Estado</th>
                    <th scope="col">Detalle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-row"
                    *ngFor="
                      let customer of customersPerPage;
                      let i = index;
                      trackBy: trackById
                    "
                    [class.highlight-row]="customer.highlight === true"
                  >
                    <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                    <td
                      *ngIf="customer.id_type === 1"
                      class="text-truncate"
                      style="max-width: 200px"
                    >
                      {{ customer.surname }}, {{ customer.name }}
                    </td>
                    <td
                      *ngIf="customer.id_type === 2"
                      class="text-truncate"
                      style="max-width: 200px"
                    >
                      {{ customer.surname }} <b>(Sociedad)</b>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ customer.cuit }}</td>
                    <td class="d-none d-sm-table-cell">
                      {{ customer.tax_key }}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ customer.bank }}</td>
                    <td class="d-none d-sm-table-cell">{{ customer.phone }}</td>
                    <td class="d-none d-sm-table-cell">
                      {{ customer.tax_condition }}
                    </td>
                    <!-- <td>{{ customer.activity }}</td> -->
                    <td>
                      <span
                        class="badge"
                        [ngClass]="customer.active ? 'bg-success' : 'bg-danger'"
                      >
                        {{ customer.active ? "Activo" : "Baja" }}
                      </span>
                    </td>
                    <td class="text-center align-middle icon-fontawesome">
                      <i
                        role="button"
                        title="Más Información"
                        class="fa-solid fa-circle-info fa-lg"
                        (click)="onCustomer(customer, false)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!--* Paginator -->
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="totalItems"
            [ellipses]="true"
            [boundaryLinks]="true"
            [maxSize]="5"
            (pageChange)="onNgbPageChange($event)"
          >
          </ngb-pagination>
        </div>
      </ng-container>

      <ng-template #noCustomers>
        <div class="mt-5" *ngIf="!loading">
          <h2>¡Usted no tiene ningún cliente!</h2>
          <button
            class="btn btn-outline-success btn-sm"
            (click)="onCustomer(selectedCustomer, true)"
          >
            Agregar <i class="fa-solid fa-square-plus fa-lg btn-new"></i>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
