<div class="container">
  <div class="row">
    <div class="col">
      <!--* Loader -->
      <div class="content-spinner" *ngIf="loading">
        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
          <defs>
            <radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)">
              <stop offset="0"/>
              <stop offset=".3" stop-opacity=".9" />
              <stop offset=".6" stop-opacity=".6" />
              <stop offset=".8" stop-opacity=".3" />
              <stop offset="1" stop-opacity="0" />
            </radialGradient>
          </defs>

          <circle class="spinner-animated" cx="100" cy="100" r="70" />
          <circle class="spinner-background" cx="100" cy="100" r="70" />
        </svg>
        <h4>Cargando Clientes...</h4>
      </div>


      <ng-container *ngIf="customers.length > 0; else noCustomers">
          <div class="table-responsive" *ngIf="!loading">
            <h2 class="mt-4">Mis Clientes </h2>
            <caption class="d-inline btn btn-outline-success"
            (click)="onCustomer(selectedCustomer, true)">Agregar
              <i class="fa-solid fa-square-plus fa-lg icon-fontawesome btn-new"
                 title="Agregar Cliente"></i>
            </caption>
            <input type="text" class="form-control my-4" placeholder="Buscar Cliente"
            (input)="onSearch($event)"
            >
            <!-- (input)="onSearch($event)"  -->
            <table class="table table-striped caption-top ">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">CUIT</th>
                  <th scope="col">Clave Fiscal</th>
                  <th scope="col">N° Tel.</th>
                  <th scope="col">Cond. Fiscal</th>
                  <th scope="col">Actividad</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row"
                    *ngFor="let customer of customersPerPage"
                    (click)="onCustomer(customer, false)">
                  <td>{{customer.name}} {{customer.surname}}</td>
                  <td>{{customer.cuit}}</td>
                  <td>{{customer.tax_key}}</td>
                  <td>{{customer.phone}}</td>
                  <td>{{customer.tax_condition}}</td>
                  <td>{{customer.activity}}</td>
                </tr>
              </tbody>
            </table>
            <p>Total de Clientes: {{totalItems}}</p>
            <!--* Paginator -->
            <nav *ngIf="totalPages() > 1" aria-label="...">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="page === 1">
                  <a class="page-link" href="#" (click)="changePage(page - 1, $event)">Anterior</a>
                </li>
                <li class="page-item"
                    *ngFor="let p of [].constructor(totalPages()); let i = index"
                    [class.active]="page === i + 1">
                  <a class="page-link" href="#" (click)="changePage(i + 1, $event)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="page === totalPages()">
                  <a class="page-link" href="#" (click)="changePage(page + 1, $event)">Siguiente</a>
                </li>
              </ul>
            </nav>



          </div>
        </ng-container>
        <ng-template #noCustomers>
          <div class="mt-5">
            <h2>¡Usted no tiene ningún cliente!</h2>
            <button class="btn btn-outline-success" (click)="onCustomer(selectedCustomer, true)">Agregar
              <i class="fa-solid fa-square-plus fa-lg icon-fontawesome btn-new"></i></button>
          </div>
        </ng-template>



      <!--* Modal -->
      <!--*--------->
      <div #customerModal class="modal fade" id="staticCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">{{titleForm}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <form [formGroup]="customerForm" autocomplete="off">

                    <div class="customer-form">
                      <div class="">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="name" id="name" name="name" autocapitalize="words">
                        <span *ngIf="isValidField('name')"
                              class="form-text text-danger">
                              {{ getFieldError('name') }}
                        </span>
                      </div>
                      <div class="">
                        <label for="surname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" formControlName="surname" id="surname" name="surname">
                        <span *ngIf="isValidField('surname')"
                              class="form-text text-danger">
                              {{ getFieldError('surname') }}
                        </span>
                      </div>

                      <div class="">
                        <label for="cuit" class="form-label">CUIT</label>
                        <input type="text" class="form-control" formControlName="cuit" id="cuit" name="cuit">
                        <span *ngIf="isValidField('cuit')"
                              class="form-text text-danger">
                              {{ getFieldError('cuit') }}
                        </span>
                      </div>
                      <div class="">
                        <label class="form-label">Cond. Fiscal</label>
                          <div class="">
                            <select class="form-select" formControlName="id_tax_condition" id="id_tax_condition" name="id_tax_condition">
                              <option value="0" disabled selected>Seleccione una Condición</option>
                              <option *ngFor="let type of taxConditions" value="{{type.id}}">{{type.description}}</option>
                            </select>
                            <span *ngIf="isValidField('id_tax_condition')"
                                  class="form-text text-danger">
                                  {{ getFieldError('id_tax_condition') }}
                            </span>
                          </div>
                        </div>
                      <div class="">
                        <label for="tax_key" class="form-label">Clave Fiscal</label>
                        <input type="text" class="form-control" formControlName="tax_key" id="tax_key" name="tax_key">
                        <span *ngIf="isValidField('tax_key')"
                              class="form-text text-danger">
                              {{ getFieldError('tax_key') }}
                        </span>
                      </div>

                      <div class="" *ngIf="!isNew">
                        <label for="created_at" class="form-label">Fecha Alta</label>
                        <input type="text" class="form-control" formControlName="created_at" id="created_at" name="created_at" readonly="true">
                        <span *ngIf="isValidField('created_at')"
                              class="form-text text-danger">
                              {{ getFieldError('created_at') }}
                        </span>
                      </div>
                      <div class="">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="email" name="email">
                        <span *ngIf="isValidField('email')"
                              class="form-text text-danger">
                              {{ getFieldError('email') }}
                        </span>
                      </div>
                      <div class="">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" formControlName="phone" id="phone" name="phone">
                        <span *ngIf="isValidField('phone')"
                              class="form-text text-danger">
                              {{ getFieldError('phone') }}
                        </span>
                      </div>
                      <div class="">
                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" class="form-control" formControlName="address" id="address" name="address">
                        <span *ngIf="isValidField('address')"
                              class="form-text text-danger">
                              {{ getFieldError('address') }}
                        </span>
                      </div>
                      <div class="">
                        <label class="form-label">Provincia</label>
                          <div class="">
                            <select class="form-select" formControlName="id_province" id="id_province" name="id_province">
                              <option value="0" disabled selected>Seleccione una Provincia</option>
                              <option *ngFor="let type of provinces" value="{{type.id}}">{{type.name}}</option>
                            </select>
                            <span *ngIf="isValidField('id_province')"
                                  class="form-text text-danger">
                                  {{ getFieldError('id_province') }}
                            </span>
                          </div>
                        </div>
                      <div class="">
                        <label for="city" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" formControlName="city" id="city" name="city">
                        <span *ngIf="isValidField('city')"
                              class="form-text text-danger">
                              {{ getFieldError('city') }}
                        </span>
                      </div>
                      <div class="">
                        <label for="activity" class="form-label">Actividad</label>
                        <input type="text" class="form-control" formControlName="activity" id="activity" name="activity">
                        <span *ngIf="isValidField('activity')"
                              class="form-text text-danger">
                              {{ getFieldError('activity') }}
                        </span>
                      </div>
                    </div>
                    <div *ngIf="pristine" class="form-text text-danger">
                      Ningún campo ha sido modificado
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveChanges(customerForm)">{{buttonForm}}</button>
              <button type="button" class="btn btn-danger" *ngIf="!isNew" (click)="onDeleteCustomer(selectedCustomer!)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
