.table-container {
  max-height: 80vh; /* Altura máxima deseada */
  overflow-y: auto; /* Habilita el scroll vertical */
  scrollbar-width: thin;
}

.table-row:hover {
  --bs-table-bg: var(--gray); /* Color personalizado, por ejemplo, azul claro */
  /* Aca estoy cambiando la clase de bootstrap, por eso esta escrito así */
}

.btn-new {
  color: var(--green);
  cursor: pointer;
}

.btn-delete {
  background-color: var(--red);
  color: var(--white);
}

.btn-modif {
  background-color: var(--blue);
  color: var(--white);
  margin-left: 20px;
}

.btn-modif:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn-delete:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn-new:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.customer-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.section {
  grid-column: 1 / -1; /*que ocupe el ancho completo del grid*/
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa; /* fondo gris claro */
  margin-bottom: 15px;
}

.section {
  border-left: 4px solid #198754; /* verde Bootstrap */
}

.customer-form label {
  /* font-size: 14px;*/
  font-weight: bold;
  /*margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

input,
select {
  border: 1px solid #000000; /* Borde del input */
  /* Tamaño de fuente del input */
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  /* color: #194bd6; */
}
.icon-fontawesome i {
  cursor: pointer;
  color: var(--blue);
}
/** loader */
.spinner {
  width: 100px; /* ajustá según necesidad */
  height: 100px;
}

.spinner-animated {
  transform-origin: center;
  fill: none;
  stroke: url(#a12);
  stroke-width: 13;
  stroke-linecap: round;
  stroke-dasharray: 200 1000;
  stroke-dashoffset: 0;
  animation: spin 1.6s linear infinite;
}

.spinner-background {
  transform-origin: center;
  fill: none;
  opacity: 0.2;
  stroke: #0c7e3b;
  stroke-width: 13;
  stroke-linecap: round;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** fin loader */
.content-spinner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep tr.highlight-row > td {
  animation: highlightFade 15s ease-out;
}
@keyframes highlightFade {
  0% {
    background-color: #9eb4f0;
  }
  100% {
    background-color: transparent;
  }
}
.table-row.highlight-row {
  outline: 2px solid rgba(13, 110, 253, 0.3); /* tipo bootstrap primary */
  outline-offset: -2px;
}

.card.border-primary {
  border-width: 2px !important;
}
@media (max-width: 576px) {
  ngb-pagination .page-link {
    padding: 0.6rem 0.75rem;
    font-size: 0.95rem;
  }
}
