/* Filas pares con color rosa claro */
/* tbody tr:nth-child(even) {
  background-color: #ffe4e1;
} */
/* Filas impares con color blanco (opcional, ya que es el color por defecto) */
/* tbody tr:nth-child(odd) {
  background-color: white;
} */

.table-row, .icon-fontawesome{
  cursor: pointer;
}
.table-row:hover{
  --bs-table-bg: #cdebf3; /* Color personalizado, por ejemplo, azul claro */
  /* Aca estoy cambiando la clase de bootstrap, por eso esta escrito así */
}
.btn-new{
  color: #00ca0a;
}
.btn-delete{
  color: #f10404;
}
.btn-modif{
  color: #0528ee;
  margin-left: 20px
}
.btn-modif:hover{
  color: #0282fa;
}

.btn-delete:hover{
  color: #f92323;
}
.btn-new:hover{
  color: #4dc853;
}
.customer-form{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas, la segunda más ancha */
  grid-gap: 10px; /*Espacio entre los elementos */
}
